ThreadOfFeelingUnity/Library/
ThreadOfFeelingUnity/Logs/
ThreadOfFeelingUnity/Temp/
ThreadOfFeelingUnity/obj/
ThreadOfFeelingUnity/Build/
ThreadOfFeelingUnity/Builds/


ThreadOfFeelingUnity/UserSettings/
ThreadOfFeelingUnity/.vs/
ThreadOfFeelingUnity/*.csproj
ThreadOfFeelingUnity/*.unityproj
ThreadOfFeelingUnity/*.suo
ThreadOfFeelingUnity/*.user
ThreadOfFeelingUnity/*.userprefs
ThreadOfFeelingUnity/.idea